header {
  font-size: -webkit-xxx-large;
  display: flex;  
  justify-content: center;
  align-items: flex-start;  
  padding-bottom: 0.5em; 
  font-weight: 900;
  align-self: center; 
}

body {
  display: flex; 
  background-color: hsl(0, 0%, 60%); 
  font-family: silkscreen; 
  color: hsl(0, 100%, 100%);
  margin: 0; 
  height: auto;  
  width: 100%; 
  flex-direction: column; 
  justify-content: center; 
}

#content { 
  display: flex; 
  justify-content: center; 
  padding: 2em;
} 

.calculator { 
  background-color: #504949; 
  border-radius: 70px; 
} 

#screen { 
  background-color: #000000; 
  border-radius: 70px; 
} 

