body, 
html{
  display: flex; 
  background-color: hsl(0, 0%, 80%); 
  font-family: "Comic Sans MS", sans-serif; 
  color: hsl(0, 100%, 100%);
  margin: 0; 
  height: auto;  
  width: 100%; 
  flex-direction: column; 
  justify-content: center; 
}

p { 
  margin: 0; 
  padding: 0; 
} 

#content { 
  display: flex; 
  justify-content: center; 
  padding: 2em;
  align-items: center; 
} 

.calculator { 
  background-color: #545454; 
  border-radius: 70px; 
} 

.screen { background-color: #000000; 
  border-radius: 70px; 
  margin-bottom: 0px; 
} 

.btn { 
  background: #757575;
  background: linear-gradient(0deg, rgba(117, 117, 117, 1) 0%, rgba(253, 253, 253, 1) 100%);
  font-size: 2em;
  width: 3em; 
  height: 3em;  
}

.buttons {
  border-radius: 1em;  
  margin-top: 0px; 
}
